{% extends 'base.html.twig' %}

{% block content %}

    <div class="container mt-3">
        <img src="{{ asset('img/alexandra_index_image.jpg') }}" class="index-image center"/>
        <h1 class="title mt-3">Photographer</h1>
        <h3 class="desc text-center">Photography is like a moment. You need a half-second to get the photo.
            So it's good to capture people when they are themselves.</h3>
    </div>

{% endblock %}
