html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    background-image: url(../img/background-image-black-white.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    color: white;

    min-height: 100%;
    position: relative;
}

hr {
    background-color: white;
}

.content {
    padding-bottom: 80px;
}

footer {
    padding: 8px;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

@media(max-width:576px){

    .index-image {
        max-width: 100%;
    }
}

@media(min-width:992px){
	
	.navbar-nav > li {
		margin-right: 10px;
		margin-left: 10px;
	}
	
}

.nav-link.active {
	color: red;
}

.big-font-size {
    font-size: 2rem;
}

.index-image {
    border-radius: 20%;
    height: 200px;
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: white;
}

.desc {
    color:white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: italic;
}

.contacts-font-size {
    font-size: 25px;
}

@media(max-width:576px) {

    .contacts-font-size {
        font-size: 25px;
    }

}

.admin-link {
    color: white;
    text-decoration: none;
}

.admin-link:hover {
    color: #5eb5e0;
    text-decoration: none;
}

.facebook-image {
    max-width: 100%;
    height: 60px;
    border-radius: 40%;
}

.black-font {
    color: #212529;
}

#remove-portfolio-pic {
    position: absolute;
    line-height: 36px;
    margin-top: -10px;
    background-color: rgba(255,0,24,0.65);
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#remove-portfolio-pic:hover {
    background-color: #ff0018;
}

@media(max-width:576px){

    .details {
        font-size: 19px;
    }

}

.table-center {
    margin: 0 auto;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid;
}

table {
    color: black;
}

.normal-font-size {
    font-size: 20px;
}

.picture-responsive {
    max-width: 100%;
    height: auto;
}

.table-image {
    max-width: 100px;
    height: auto;
}


