{% extends 'base.html.twig' %}

{% block content %}

    <div class="container mt-3">
        <img src="/uploads/{{ home_page_image }}" class="index-image center"/>
        <h1 class="title mt-3">{{ home_page_large_text }}</h1>
        <h3 class="desc text-center">{{ home_page_description }}</h3>
    </div>

{% endblock %}
